@import "~antd/dist/antd.less";

@primary-color: #313132; 

@link-color: #f5f5f7;
@link-hover-color: #f5f5f7;

@bg-color-header: #313132;
@text-color-header: #f5f5f7;
@text-color-secondary-header: #d3d3d3;

@layout-header-background: @bg-color-header;
@layout-header-color: @text-color-header;

@layout-body-background: #ffffff;

@breadcrumb-base-color: @text-color-header;
@breadcrumb-last-item-color: @text-color-header;
@breadcrumb-link-color: @text-color-secondary-header;
@breadcrumb-link-color-hover: @text-color-header;
@breadcrumb-separator-color: @text-color-secondary-header;
