/* DETAILS VIEW */

.detailsWrapper {
  display: flex;
  justify-content: center;
}
.detailsRow {
  padding: 20px 0;
  width: 100%;
  max-width: 800px;
}
.detailsTitle {
  font-size: 30px;
  font-weight: 500;
}
